pandas
ipykernel
pystac
pystac-client
odc-stac
planetary-computer
netCDF4
matplotlib
rioxarray
xarray-spatial
Jinja2
stackstac
pandarallel
ipywidgets
python-dotenv
ipyleaflet
seaborn
statsmodels
scikit-learn
rich
ipywidgets